*.log
*.pid
*.seed
*.pid.lock
*.lcov
*.tsbuildinfo
*.tgz

.cache
.DS_Store
.eslintcache
.env
.env.test
.lock-wscript
.node_repl_history
.npm
.nyc_output
.yarn-integrity

lerna-debug.log*
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
yarn-debug.log*
yarn-error.log*

bin/
build/
coverage/
dist/
downloads/
generated/
jspm_packages/
lib-cov/
logs/
node_modules/
out/
pids/
typings/

# vscode config
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
