name: Release

on:
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      - run: npm ci

      - name: Prepare release folder
        run: |
          mkdir -p plugins/csgo
          cp -r config/csgo/* plugins/csgo/
          echo "Release folder structure:"
          tree plugins || ls -R plugins

      - name: Package release
        run: zip -rq LIGA-Plugins-$(cat package.json | jq -r '.version').zip plugins/

      - id: create_release
        run: gh release create $(cat package.json | jq -r '.version') \
          --title "$(cat package.json | jq -r '.version')" --latest

      - if: success() && steps.create_release.outcome == 'success'
        run: gh release upload $(cat package.json | jq -r '.version') \
          LIGA-Plugins-$(cat package.json | jq -r '.version').zip --clobber
